.uk-navbar.admin-navbar {
  background-color: #000000;
}

.uk-table-hover tbody tr:hover,
.uk-table-hover > tr:hover {
  background-color: #beefdc;
}

.admin-tick {
  color: #2EC4B6;
}

.admin-cross {
  color: #E71D36;
}